@import url(globals.css);

.about-aux {
    border: 1px solid rgba(128, 128, 128, 0.182);
    border-radius: 15px;
    margin: 0 2em;
    padding: 3em;
    margin-bottom: 4em;

    /* Teste */
    display: none;
}