@import url(globals.css);

.control_args{
    border: 1px solid rgba(128, 128, 128, 0.182);
    border-radius: 15px;
    margin: 0 2em;
    padding: 3em;
    margin-bottom: 4em;

    /* teste */
    display: none;
}

.control_args .examples {
    margin: 2em 0;
}

.control_args .examples p {
    text-indent: 1em;
    margin-top: .5em;
}

.CA-lists{
    padding-left: 3em;
    list-style-type: circle;
    margin-top: .5em;
}


.CA-lists > li {
    list-style-type: disc;
    font-weight: bold;
    font-size: .9em;
    font-style: italic;
}

.control_args .warn-text {
    border: 1px solid rgba(255, 219, 135, 0.696);
    background: rgba(255, 255, 174, 0.17);
    padding: 2px 1em;
}

/* MEDIAS */

@media screen and (max-width: 650px){
    .control_args {
        margin: 0 .5em 2em .5em;
        padding: 3em 1.5em;
        margin-bottom: 2em;

    }

}