@font-face {
    font-family: codeItalic;
    src: url(../fonts/code-ubuntu-italic.ttf) format('truetype');
}

@font-face {
    font-family: codeNormal;
    src: url(../fonts/code-ubuntu-regular.ttf) format('truetype');
}



.example-code {
    font-size: .8em;
    background: rgb(63, 53, 71);
    color: rgba(255, 224, 222, 0.918);
    padding: 1em 1em 1em 2em;
    border-radius: 10px;
    margin: 1em auto;
    white-space: break-spaces;
    break-after: left;
    /* overflow-x: auto; */
}



.example-code *  {
    font-family: codeNormal;
}

code .keyword {
    color: rgb(122, 173, 255);
    font-family: codeItalic;
}

code .prop {
    color: rgb(255, 255, 255);
}

code .number {
    color: rgb(157, 218, 253);
}

code .string{
    color: rgba(254, 243, 96, 0.936);
}

code .boolean {
    color: rgb(251, 32, 65);
}

code .quotes{
    color: white;
}

code .coment {
    color: rgba(220, 220, 220, 0.382);
}

code .call {
    color: rgb(95, 232, 68);
}

code .const {
    color: rgb(202, 116, 249);
}

code .param {
    color: rgb(252, 96, 39);
    font-family: codeItalic;
}

@media screen and (max-width: 650px){
    .example-code {
        font-size: .7em;
    }
}

/* HTML */

code .tag-name {
    color: rgb(255, 36, 62);
    font-weight: bold;
}

code .tag {
    color: rgba(143, 161, 147, 0.623);
}

code .tag-content {
    color: white;
    font-weight: normal;
}

code .attr {
    color: rgb(122, 219, 254);
    font-weight: normal;
}

code .equal {
    color: rgb(230, 230, 230);
}

code .class-name{
    color: rgb(97, 251, 55);
}

code .id-name {
    color: rgb(251, 139, 34);
}

code .attr-value {
    color: rgb(252, 252, 147);
}

code .html-coment{
    color: rgb(140, 139, 139);
}