@import url(globals.css);

footer {
    margin-top: 3em;
    background: var(--color-gray-dark);
    box-shadow: 0 -2px 3px rgba(128, 128, 128, 0.614);
    height: 200px;
    padding: 1em 0;
    display: grid;
    place-items: center;
}

footer * {
    font-family: var(--font-aux);
    font-size: .9em;
    color: rgb(239, 218, 251);
}

footer > .developed-by {
    border-bottom: 1px solid rgba(128, 128, 128, 0.232);
    padding-bottom: .5em;

}

footer > .developed-by > span {
    color: rgb(248, 105, 255);
}

.social-medias{
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.social-medias li {
    border: 1px solid rgba(225, 190, 235, 0.553);
    padding: 3px;
    border-radius: 8px;
    mix-blend-mode: screen;
}

.social-medias li:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.447);
    mix-blend-mode: normal;
    transform: translateY(-1px);
    transition: transform .3s;
}


.social-medias a {
    display: flex;
}

.social-medias img {
    width: 25px;
    height: 25px;
}