@import url(globals.css);

header {
    z-index: 100;
    font-family: var(--font-aux);
    background: var(--color-gray-dark);
    box-shadow: 0px 2px 3px rgba(14, 1, 30, 0.433);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header * {
    color: white;
}

.aux {
    width: fit-content;
    user-select: none;
    display: flex;
    align-items: center;
    gap: .5em; 
}

.aux > .aux-logo {
    width: 40px;
    height: 40px;
    padding: 7px;
    border: 1px solid rgba(173, 173, 173, 0.538);
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(12, 2, 27, 0.805);
}

.aux > .aux-title{
    display: flex;
    font-weight: normal;
    align-items: center;
}

.aux > .aux-title > span:first-child{
    color: white;
}

.aux > .aux-title > span:last-child{
    color: var(--color-purple-title);
    font-style: italic;
    font-size: .9em;
}

.side-nav-button{
    display: none;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: 1px solid rgba(176, 171, 179, 0.512);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
    height: fit-content;
    border-radius: 10px;
    padding: 6px;
    margin-right: 3%;
}

.side-nav-button > svg {
    fill: rgba(255, 255, 255, 0.833);
}

.side-nav-button:hover > svg {
    transition-duration: .2s;
    transform: scale(1.1);
    fill:var(--color-purple-title);
}

.side-nav-button:active{
    opacity: 60%;
}


/* MEDIAS */

@media screen and (max-width:1080px){
    .side-nav-button{
        display: flex;
    }
}