@import url(globals.css);
@import url(Header.css);
@import url(Footer.css);
@import url(Sidenav.css);
@import url(Main.css);

/* teste */
@import url(aboutAux.css);
@import url(aboutControlArgs.css);


body {
    display: grid;
    padding-top: 5em;
    grid-template-areas: 
    'aside main main main main'
    'aside main main main main'
    'sep sep sep sep sep'
    'footer footer footer footer footer';
}

body * {
    font-family: var(--font-aux);
}


#aside {
    position: relative;
    grid-area: aside;
    padding: 0 .5em;
    width: 300px;
}

#main {
    grid-area: main;
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    margin-top: 0;
    margin-right: 1em;
}

#footer {
    grid-area: footer;
}

#sep {
    grid-area: sep;
}


.fade-transition > * {
    animation: fade .5s ease-in-out;
}

@keyframes fade {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }
}

@media screen and (max-width: 650px){
    body {
        font-size: .8em;
    }
}