/* MAIN */

.content {
    border: 1px solid rgba(128, 128, 128, 0.182);
    border-radius: 15px;
    margin: 0 2em;
    padding: 3em;
    margin-bottom: 4em;
}

.content-head {
    background: var(--color-gray-dark);
    border-radius: 10px;
    padding: 10px 2em;
    color: white;
}

.content-head * {
    font-weight: normal;
}

.content-head .name {
    width: fit-content;
    border-bottom: 1px solid rgba(84, 71, 90, 0.549);
    margin-bottom: .3em;
}

.content-head .head-fn-frag {
    font-weight: lighter;
    color: gainsboro;
}

.content-head .returns {
    font-size: .6em;
}

.returns>span {
    color: var(--color-pink-dead);
}

.content-head .parenteses {
    font-family: var(--font-parenteses);
}

.content-head .details-by {
    font-size: .9em;
}

/* sections */
.description {
    margin-top: 1.5em;
}

.content section > h2 {
    margin-bottom: .6em;
    border-bottom: 1px solid rgba(137, 138, 137, 0.521);
}

.description > p {
    text-indent: .5em;
    margin-top: .3em;
}

.description #description-field,
.description>.description-field>p {
    text-indent: 1em;
    margin-top: .3em;

}

.example {
    background: var(--color-gray-dark);
    display: flex;
    gap: 3px;
    width: fit-content;
    color: rgb(255, 255, 255);
    padding: 2px 1em;
    margin-bottom: .8em;
}

.example .evoke {
    color: rgb(159, 234, 89);
}

.example .evoke>.method-frag {
    color: gainsboro;
    font-weight: lighter;
}

.example .params-capsule>span {
    color: rgba(255, 169, 83, 0.926);
    font-size: .9em;
    font-style: italic;
}

.params {
    margin-top: 2em;
}

.params > h3 {
    border-bottom: 1px solid var(--color-gray-border);
    width: fit-content;
    padding: 0 .5em;
}


.params .param-name {
    font-size: 1.2em;
    color: white;
    font-weight: normal;
    border-radius: 7px;
    background: var(--color-gray-dark);
    width: fit-content;
    padding: 0 1em;
}

.params .arg-type {
    margin-left: .5em;
    font-size: .7em;
    color: white;
}

.params .arg-type > span {
    color: var(--color-pink-dead);
}

.params .params-list > li {
    margin: 1em 0 0 1.5em;
}

.params .param-description {
    padding: .5em 0 0 2em;
}

.description > .note {
    border: 1px solid rgb(236, 208, 149);
    padding: 1px 1em;
    background: rgba(255, 255, 135, 0.345);
    margin-top: 1em;
}

.link-to::after {
    content: '🔗';
    opacity: 78%;
    font-size: .7em;
    margin-left: 5px;
}

.optional {
    position: relative;
}

.optional::after {
    right: -6em;
    top: 50%;
    transform: translateY(-50%);
    font-size: .8em;
    background: var(--color-gray-dark);
    position: absolute;
    padding: 0 .7em;
    border-radius: 7px;
    content: 'Opicional';
}

.control-args {
    border: 1px solid rgba(203, 203, 203, 0.401);
    padding: 1em 2em;
    margin: 1em 0;
}

.control-args .arg-li > p {
    padding-left: 1.5em;
}

.control-args .arg-li + .arg-li {
    margin-top: .5em;
}

.break-section {
    text-align: center;
    opacity: 10%;
    letter-spacing: 5px;
}

.details-section {
    border-bottom: 1px dashed rgba(119, 119, 119, 0.164);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.details-section>p {
    text-indent: 1em;
    margin-top: .5em;
}

/* MEDIAS */
@media screen and (max-width: 650px){
    .content {
        margin: 0 .5em 2em .5em;
        padding: 3em 1.5em;
    }
    

    .content-head {
        font-size: .8em;
    }

    .returns * {
        font-size: .8em;
    }

    section h2 {
        font-size: 1.2em;
    }

    section h3 {
        font-size: 1em;
    }

    .note {
        font-size: .8em;
    }

    .params .param-name {
        font-size: .95em;
    }

    .control-args {
        padding: 1em;
    }

    .params .params-list > li {
        margin: 1em 0;
    }

    .params .param-description {
        padding: .5em 0 0 1em;
    }

}